<div>
    <form action="/productos" method="POST" enctype="multipart/form-data">
        Titulo: <input type="text" name="title" id="title" /> <br/>
        Precio: <input type="number" name="price" id="price" /> <br/>
        Archivo: <input type="file" name="myfile" id="myfile" /> <br/>
        <input type="submit" value="Enviar">
    </form>
    <a href="/productos">Ir a productos</a>
</div>